<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>User page</title>
</head>
<body>
<h1>Welcome to the user page!</h1>

<div>
  <h4>User details:</h4>
  <p th:inline="text">Username: [[${#authentication.getPrincipal().getUsername()}]]</p>
  <p th:inline="text">Age: [[${#authentication.getPrincipal().getAge()}]]</p>
  <p th:inline="text">Address: [[${#authentication.getPrincipal().getAddress()}]]</p>
</div>

<form th:action="@{/logout}">
  <input type="submit" value="Log Out"/>
</form>
</body>
</html>